In [1]:
from csv import reader

In [2]:
data = list(reader(open("potus_visitors_2015.csv")))

In [3]:
title = data[0]

In [4]:
potus = data[1:]

In [5]:
print(title
     )

['name', 'appt_made_date', 'appt_start_date', 'appt_end_date', 'visitee_namelast', 'visitee_namefirst', 'meeting_room', 'description']

In [6]:
print(potus[:3])

[['Joshua T. Blanton', '2014-12-18T00:00:00', '1/6/2015 9:30', '1/6/2015 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Jack T. Gutting', '2014-12-18T00:00:00', '1/6/2015 9:30', '1/6/2015 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard'], ['Bradley T. Guiles', '2014-12-18T00:00:00', '1/6/2015 9:30', '1/6/2015 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard']]

In [7]:
import datetime as dt

In [8]:
type(title[2])

str

In [9]:
date_format = "%m/%d/%Y %H:%M"

In [10]:
current_time = dt.datetime.now()

In [11]:
current_time

datetime.datetime(2023, 5, 21, 13, 13, 7, 217986)

In [12]:
type(current_time)

datetime.datetime

In [13]:
potus[1][2]

'1/6/2015 9:30'

In [14]:
date = '1/6/2015 9:30'

In [15]:
type(date)

str

In [16]:
date = dt.datetime.strptime(date, date_format)

In [17]:
date

datetime.datetime(2015, 1, 6, 9, 30)

In [18]:
date.day

6

In [19]:
date.month

1

In [20]:
date.hour

9

In [21]:
current = dt.datetime.now()

In [22]:
print(current)

2023-05-21 13:13:08.828365

In [23]:
nformat = '%d/%m/%Y %H:%M'

In [24]:
current = dt.datetime.strftime(current,nformat)
print(current)

21/05/2023 13:13

In [25]:
type(current)

str

In [26]:
current = dt.datetime.strptime(current,nformat)
print(current)

2023-05-21 13:13:00

In [27]:
current = dt.datetime.strftime(current,nformat)
print(current)

21/05/2023 13:13

In [28]:
current.day

AttributeError: 'str' object has no attribute 'day'

In [ ]:
current = dt.datetime.strptime(current,nformat)
print(current)

In [ ]:
current.day

In [ ]:
type(potus[1][2])

In [ ]:
print(potus[1][2])

In [ ]:
cformat = "%m/%d/%Y %H:%M"

In [ ]:
cformat = "%m/%d/%Y %H:%M"
for i in potus:
    i[2] = dt.datetime.strptime(i[2],cformat)
    i[3] = dt.datetime.strptime(i[3],cformat)

In [32]:
print(type(potus[1][2]))

<class 'str'>

In [33]:
cformat = "%m/%d/%Y %H:%M"
for i in potus:
    i[2] = dt.datetime.strptime(i[2],cformat)
    i[3] = dt.datetime.strptime(i[3],cformat)

In [34]:
print(type(potus[1][2]))

<class 'datetime.datetime'>